In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {'article': np.array([1,2,3,4,5,6,2,2,2,10,1,2,2]),'user': np.array(['a', 'a', 'a', 'a', 'c', 'c', 'c', 'b','c','d','d','d','b']) }

In [3]:
df = pd.DataFrame(data=d)

In [4]:
df_list = df.groupby('article')['user'].apply(list)

In [5]:
df_list

article
1                 [a, d]
2     [a, c, b, c, d, b]
3                    [a]
4                    [a]
5                    [c]
6                    [c]
10                   [d]
Name: user, dtype: object

In [6]:
df['exists'] = 1

In [7]:
df

    article user  exists
0         1    a       1
1         2    a       1
2         3    a       1
3         4    a       1
4         5    c       1
5         6    c       1
6         2    c       1
7         2    b       1
8         2    c       1
9        10    d       1
10        1    d       1
11        2    d       1
12        2    b       1

In [8]:
df_matrix = df.groupby(['article', 'user'])['exists'].apply(max).unstack().fillna(0)

In [9]:
for i in df_matrix.items():
    print(i)

('a', article
1     1.0
2     1.0
3     1.0
4     1.0
5     0.0
6     0.0
10    0.0
Name: a, dtype: float64)
('b', article
1     0.0
2     1.0
3     0.0
4     0.0
5     0.0
6     0.0
10    0.0
Name: b, dtype: float64)
('c', article
1     0.0
2     1.0
3     0.0
4     0.0
5     1.0
6     1.0
10    0.0
Name: c, dtype: float64)
('d', article
1     1.0
2     1.0
3     0.0
4     0.0
5     0.0
6     0.0
10    1.0
Name: d, dtype: float64)

In [10]:
reference_user = 'a'
similarities = []
for i in df_matrix.items():
    print(np.linalg.norm(df_matrix[reference_user] - i[1]))
    similarities.append((i[0], np.linalg.norm(df_matrix[reference_user] - i[1])))

0.0
1.7320508075688772
2.23606797749979
1.7320508075688772

In [11]:
similarities

[('a', 0.0),
 ('b', 1.7320508075688772),
 ('c', 2.23606797749979),
 ('d', 1.7320508075688772)]

In [12]:
sorted_by_second = sorted(similarities, key=lambda tup: tup[1])

In [13]:
sorted_by_second

[('a', 0.0),
 ('b', 1.7320508075688772),
 ('d', 1.7320508075688772),
 ('c', 2.23606797749979)]

In [14]:
def function(df):
    my_list = []
    for i in df:
        my_list.append(i)
    
    return my_list

In [15]:
function(df)

['article', 'user', 'exists']